  
  .menu {
    margin-top: 5px;
    width: inherit;
    height: inherit;
    white-space: nowrap;
  }

  .menu li {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
  }
  .menu span {
    margin-right: 4px;
  }

  
