
  .nav-link:hover {
    color: #fefefe !important;
    background-color: #073869 !important
}

.nav-link{
  color: #13508d !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}
